# Server
PORT=4000
NODE_ENV=

# Database
DB_URI=
DB_USERNAME=
DB_PASSWORD=

# Security
BCRYPT_SALT=
JWS_ACCESS_TOKEN_KEY=
JWS_REFRESH_TOKEN_KEY=
JWS_DURATION=
JWS_ALG=
REFRESH_DUCATION=
REFRESH_IV=
GOOGLE_STATE=
AZURE_STATE=

# Cloud
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=